.poem1 {
	
}

.poem2 {

font-family: 'Crimson Text', serif;
height: 200px;
width: 1280px;

}

.poem3 {
	
font-family: 'Satisfy', serif;
height: 200px;
width: 1280px;
}

.poem4 {
	
font-family: 'Allura', serif;
height: 200px;
width: 1280px;
}

.poem5 {

font-family: 'Crete Round', serif;
height: 200px;
width: 1280px;	
}

.poem6 {

font-family: 'Pinyon Script', serif;
height: 200px;
width: 1280px;	
}

.poem7 {
	
font-family: 'Crafty Girls', serif;
height: 200px;
width: 1280px;
}

.poem8 {


height: 200px;
width: 1280px;	
}

.poem9 {

font-family: 'Playfair Display', serif;
height: 200px;
width: 1280px;	
}

.poem10 {

font-family: 'Tangerine', cursive;
height: 200px;
width: 1280px;	
}