.wrapper {
	width: 900px;
	height: 450px;
	display: inline-block;
	margin: 0 auto;
}

.wrapper img {
	width: 300px;
	height: 300px;
}

.wrapper p {
	width: 300px;
	height: 300px;
	float:right;
}

p{
	width: 600px;
	height: 300px
}

.pics {
	width: 900px;
	height: 450px;
	display: inline-block;
}

.pics img {
	width: 300px;
	height: 300px;
	float: left;
}