h1 {
	text-align: center;
	font-size: 10em;
	color: white;
	margin-top: -35px;
	letter-spacing: 10px;
	z-index: -5;
	opacity: 0.7;
}
h2{
	font-size: 2em;
	color: black;
	position: relative;
	padding-left: 700px;
	padding-top: 30px;
	
}


body{
	
	background: url(../images/15.jpg) no-repeat center center fixed;
	font-family: 'Seaweed Script', cursive;
	
}

p{
	width: 800px;
	color: ;
	padding-left: 225px;
	font-size: 1.5em;
	margin-top: -50px;
	font-weight: bold;
	text-align: center;
}
.contenedor{
	position: relative;
	z-index: 1;
}