h1 {
	text-align: center;
	font-size: 2em;
	color: ;
	margin-top: 300px;
	letter-spacing: 10px;
	z-index: -5;
	
}
h2{
	font-size: 1em;
	color: ;
	position: relative;
	padding-top: 30px;
	text-align: center;
	
}
.a{
	opacity: 0.8;
}
.b{
	opacity: 0.5;
}
.c{
	opacity: 0.2;
}

body{
	
	background: url(../images/.jpg) no-repeat center center fixed;
	font-family: 'Unna', serif;
	background-color: gray;
}

p{
	width: 800px;
	color: white;
	padding-left: 225px;
	font-size: 1em;
	margin-top: 300px;
	font-weight: bold;
	text-align: center;
}
.contenedor{
	position: relative;
	z-index: 1;
}