
body {
    background: url(../images/bg1.jpg) no-repeat center center fixed; 
}
.container {
	margin-left:220px;
	padding-top:50px;
}

a.button {
    text-decoration: none;
    font-family: 'Fredoka One', cursive;
    color: black;
    padding:10px;
    background-color: #ccff99; 
    margin-left: 20px;
    letter-spacing: 3px;
    vertical-align: middle;
    text-align: center;
    border-radius: 4px;
}

a.button:hover {
    color: #003399;
    background-color: white;
}

h1 {
	color: white; 
	margin-left:200px;
	margin-top: 200px;
	font-family: 'Lobster', cursive;
    font-size: 4em;
}