html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    font-size: 26px;
    font-weight: normal;
    text-align: center;
    font-style: italic;
    font-family: "Cutive Mono", sans-serif;
    background: url(../images/bg1.jpg) no-repeat center center fixed; 
}

h4{
	
	font-size: 16pt;
	font-weight: normal;
	font-style: normal;
	padding-bottom: 150px;

}

h5{
	font-size: 24pt;
	font-weight: normal;
	font-style: normal;
}
